
.site-footer {
  padding: 1em 0;
  background: #000;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 2em 0;
  }
}
.site-footer .border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer p {
  color: #fff;
}
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}
.site-footer a {
  color: rgba(255, 255, 255, 0.5);
}
.site-footer a:hover {
  color: white;
}
/* .site-footer ul li {
  margin-bottom: 10px;
} */
.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
}