/* h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
} */
/* h2::after {
  content: "";
  width: 140px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #db584e;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
} */
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #db584e;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
    font-size: 27px;
    line-height: 35px;
    position: absolute;
    display: inline-block;
    color: rgb(4 4 5);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.testamonials_box{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



 .site-section {
  padding: 7rem 0;
}
.cont {
  max-width: 1140px !important;
}
.line-bottom {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.line-bottom.text-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}







/* .site-section {
  padding: 7rem 0;
}
.cont {
  max-width: 1140px !important;
}
.line-bottom {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.line-bottom.text-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.testimonial-3 blockquote {
  padding: 40px;
  background: #fff;
  font-size: 18px;
}
blockquote {
  margin: 0 0 1rem;
}
.testimonial-3 .img-wrap {
  margin-left: 40px;
}

.testimonial-3 .v-card img {
  width: 50px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  border-radius: 50%;
}

.testimonial-3 .position {
  color: #999;
}

.testimonial-3 .vcard {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}
.testimonial-3 .vcard img {
  width: 50px;
  border-radius: 50%;
  max-width: 100%;
} */
