/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Rubik:wght@300;400;500;600;700&display=swap'); */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
body {
  line-height: 1.7 !important;
  font-weight: 300;
  font-size: 1rem;
  color: rgb(54, 77, 89) !important;

  font-family: "Roboto Mono", monospace;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
.container {
  max-width: 1140px !important;
} */
